/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* NAVIGATION SECTION */

header {
  background-color: #1d212b;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  z-index: 1001;
}

header.sticky {
  padding: 20px 100px;
  background-color: #fff;
}

.logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.6s;
}

header ul li a:hover {
  color: grey;
}

header.sticky .logo,
header.sticky ul li a {
  color: #000;
}

header.sticky ul li a:hover {
  color: grey;
}

/* SLIDER SECTION */

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(14, 29, 51, 0.8),
    rgba(14, 29, 51, 0.2)
  );
}

.main-carousel {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main-carousel .carousel-cell {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-carousel .carousel-cell .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: white;
  text-align: center;
}

.main-carousel .carousel-cell .inner .subtitle {
  font-size: 20px;
  font-weight: 200;
  font-style: italic;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.5);
}

.main-carousel .carousel-cell .inner .title {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.main-carousel .carousel-cell .inner .btn {
  border: 1px solid #fff;
  padding: 14px 18px;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 3px;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease;
}

.main-carousel .carousel-cell .inner .btn:hover {
  background-color: #fff;
  color: #000;
}

.main-carousel .flickity-prev-next-button {
  width: 80px;
  height: 80px;
  background: transparent;
}

.main-carousel .flickity-prev-next-button:hover {
  background: transparent;
}

.main-carousel .flickity-prev-next-button .arrow {
  fill: white;
}

.main-carousel .flickity-page-dots {
  bottom: 30px;
}

.main-carousel .flickity-page-dots .dot {
  width: 30px;
  height: 4px;
  opacity: 1;
  background: rgba(255, 255, 255, 0.5);
  border: 0 solid white;
  border-radius: 0;
}

.main-carousel .flickity-page-dots .dot.is-selected {
  background: rgba(255, 255, 255, 1);
  border: 0 solid #1d212b;
}

/* ABOUT SECTION */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
  height: 40vh;
  padding: 0 20%;
}

.content_about h2 {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  font-size: 30px;
  font-style: italic;
  font-weight: 500;
  text-transform: capitalize;
}

.content_about p {
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

/* FOOTER SECTION */

footer {
  background-color: #1d212b;
  padding-top: 30px;
  padding-bottom: 30px;
}

.columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  color: wheat;
}

.columns strong {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.column-one,
.column-two,
.column-three {
  text-align: center;
  padding: 10px;
  line-height: 34px;
}

.column-two {
  font-size: 23px;
}

.copyright {
  color: wheat;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.social-media {
  padding-top: 28px;
  font-size: 30px;
  text-align: center;
}
